/* Modern CSS Reset from https://piccalil.li/blog/a-modern-css-reset/ */
/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}


html {
    /* @link https://utopia.fyi/generator-mk-ii?c=320,18,1.2,1140,21,1.25,6,3, */
    --step--3: clamp(0.6513rem, 0.5949rem + 0.2817vw, 0.7956rem);
    --step--2: clamp(0.7813rem, 0.7134rem + 0.339vw, 0.955rem);
    --step--1: clamp(0.9375rem, 0.8563rem + 0.4061vw, 1.1456rem);
    --step-0: clamp(1.125rem, 1.0762rem + 0.2439vw, 1.25rem);
    --step-1: clamp(1.35rem, 1.2329rem + 0.5854vw, 1.65rem);
    --step-2: clamp(1.62rem, 1.4795rem + 0.7024vw, 1.98rem);
    --step-3: clamp(1.9438rem, 1.775rem + 0.8439vw, 2.3763rem);
    --step-4: clamp(2.3325rem, 2.1301rem + 1.0122vw, 2.8513rem);
    --step-5: clamp(2.7994rem, 2.5567rem + 1.2134vw, 3.4213rem);
    --step-6: clamp(3.3594rem, 3.0682rem + 1.4561vw, 4.1056rem);
    /* font styles */
    --system-sans: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
    --system-serif: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    --system-mono: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
}

body {
    width: 100%;
    font-size: var(--step-0);
    font-family: var(--system-sans);
    word-wrap: anywhere;
}

img[height] {
    height: auto;
}

.code,
code,
pre {
    font-family: var(--system-mono);
}

pre {
    white-space: pre-wrap;
    font-size: var(--step--2);
}

.flex {
    display: flex;
}

.col {
    flex-direction: column;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrap {
    flex-wrap: wrap;
}

.wrapper {
    --max: 100rem;
    width: 95%;
    max-width: var(--max);
    margin: auto;
}

.wrapper[data-constrain="some"] {
    --max: 81.25rem !important;
}

.wrapper[data-constrain="more"] {
    --max: 68.75rem !important;
}

.wrapper[data-constrain="most"] {
    --max: 37.5rem !important;
}

.full {
    width: 100%;
}

.tall {
    height: 100%;
}

.marginalize {
    margin: auto;
}

.rm-m-bs {
    margin-block-start: 0;
}

.rm-m-be {
    margin-block-end: 0;
}

.grid {
    display: grid;
    --min-size: 10px;
}

.gap {
    --gap: 1em;
    gap: var(--gap);
}

.two-col {
    grid-template-columns: repeat(2, minmax(var(--min-size), 1fr));
}

.three-col {
    grid-template-columns: repeat(3, minmax(var(--min-size), 1fr));
}

.four-col {
    grid-template-columns: repeat(4, minmax(var(--min-size), 1fr));
}

.fluid-col {
    --fluid-size: 20rem;
    --fluid-type: auto-fit;
    grid-template-columns: repeat(var(--fluid-type), minmax(var(--fluid-size),1fr));
}

.place-center {
    place-items: center;
}

.text-center {
    text-align: center;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--system-serif);
}

.font-lg-6 {
    font-size: var(--step-6);
}

.font-lg-5 {
    font-size: var(--step-5);
}

.font-lg-4 {
    font-size: var(--step-4);
}

.font-lg-3 {
    font-size: var(--step-3);
}

.font-lg-2 {
    font-size: var(--step-2);
}

.font-lg-1 {
    font-size: var(--step-1);
}

.font-base {
    font-size: var(--step-0);
}

.font-sm-1 {
    font-size: var(--step--1);
}

.font-sm-2 {
    font-size: var(--step--2);
}

.font-sm-3 {
    font-size: var(--step--3);
}